{% extends "analysis_portal/base.html" %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row">
                <div class="col-md-6">
                        <span id="project-title" class="project-title">{{project_name}}</span>
			<input id="next-page" type="hidden" value="{{next_page_url}}">
                        <input id="pk-field" type="hidden" value="{{project_pk}}">
                </div>
        </div>
        <div class="row">
                <div id="go-back" class="col-md-6">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        <a href="{{previous_page_url}}">Back</a>
                </div>
        </div>
   <div class="row">
        <div id="summary-panel" class="panel panel-default">
            <div class="panel-heading">
                <h4>Pre-analysis summary</h4>
            </div>
            <p>Library/target file: {{library_file.name}}</p>

            <table id="pre-analysis-summary-table" class="table table-striped">
                <thead>
                    <tr>
                    <th>Sample</th>
                    <th>FastQ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample, files in mapping.iteritems %}
                    <tr>
                        <td>{{sample.name}}</td>
			<td>{{ file }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
	<input id="pk-field" type="hidden" value="{{project_pk}}">
	<button id="start-analysis" class="btn btn-primary">Analyze!</button>
    </div>
</div>
{% endblock %}
{% block page_specific_script %}
        <script src="{% static "js/summary.js" %}"></script>
{% endblock %}
