amqp==2.1.4
appdirs==1.4.3
asn1crypto==0.22.0
billiard==3.5.0.2
boto==2.42.0
cachetools==2.0.0
celery==4.0.2
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
crcmod==1.7
cryptography==2.0.3
cycler==0.10.0
Django==1.11
dropbox==8.0.0
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
gcs-oauth2-boto-plugin==1.14
google-api-python-client==1.6.2
google-apitools==0.5.3
google-auth==0.10.0
google-auth-httplib2==0.0.2
google-cloud-core==0.24.0
google-cloud-storage==1.0.0
google-compute-engine==2.3.5
googleapis-common-protos==1.5.2
gsutil==4.24
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
Jinja2==2.9.6
kombu==4.0.2
matplotlib==2.0.2
mock==2.0.0
MySQL-python==1.2.5
numpy
oauth2client==2.2.0
oauthlib==2.0.2
packaging==16.8
pandas
pbr==2.0.0
protobuf==3.2.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pycrypto==2.6.1
pyOpenSSL==16.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-gflags==3.1.1
python-http-client==2.2.1
python-openid==2.2.5
pytz==2017.2
PyYAML==3.12
redis==2.10.5
requests==2.18.1
requests-oauthlib==0.8.0
retry-decorator==1.1.0
rsa==3.4.2
scipy
seaborn==0.7.1
six==1.10.0
SocksiPy-branch==1.1
subprocess32==3.2.7
uritemplate==3.0.0
urllib3==1.21.1
vine==1.1.3
