/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	background: url('../images/article_blur.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-pic {
	padding-top:5px;
	background-size: 40px 40px;
	border-radius: 50%;
	display: block;
	margin: -1px;
	overflow: hidden;
	position: relative;
	height: 40px;
	width: 40px;
}

#email-header{
	cursor: default;
	color: #9D9D9D;
}


#all-projects-table{
	margin-bottom:20px;
}

#do-analysis-panel, #existing-files-panel, #add-sample-panel, #proceed-to-summary-panel, #summary-panel, #project-panel, #instructions-panel, #choose-genome-panel, #existing-samples-panel, #start-dge-panel, #drive-files-panel {
	opacity: 0.9;
	margin-top:30px;
	border-radius:20px;
}

#do-analysis-panel .panel-heading, #existing-files-panel .panel-heading, #add-sample-panel .panel-heading, #proceed-to-summary-panel .panel-heading, #summary-panel .panel-heading, #choose-genome-panel .panel-heading, #project-panel .panel-heading, #instructions-panel .panel-heading, #existing-samples-panel .panel-heading, #start-dge-panel .panel-heading, #drive-files-panel .panel-heading{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}

.project-title{
	color:#FFFFFF;
	font-size:28px;
	margin-right:10px;
}
.group-name{
	font-size:18px;
	margin-right:10px;
	margin-top:20px;
}
.group-name-edit{
	font-size:16px;
	cursor:pointer;
}
#edit-project-title{
	color:#FFFFFF;
	font-size:18px;
	cursor:pointer;
}

.panel-wrapper-div{
	margin:20px;
}

#add-sample-icon{
	cursor:pointer;
}

#add-sample-icon + span{
	cursor:pointer;
}

#drop-area{
	font-size:20px;
}

.drop-instructions{
    line-height:200px;
    display:block;
    text-align: center;
    border: 1px dashed gray;
    background-color: rgb(200,200,200);
}

.drop-over{
    line-height:200px;
    display:none;
    text-align: center;  
    border: 1px dashed gray;
    background-color: rgb(220,220,220);
}

#drop-area.over .drop-instructions{
    display: none;
}

#drop-area.over .drop-over{
    display:block;
}

.interjection{
    margin-top:10px;
    margin-bottom:10px;
}
.lhs{
	background-color: #6ccc62;
	color:white;
	padding:5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-shadow: 1px 1px 1px gray;
	font-size:16px;
}

.rhs{
	background-color: #6ccc62;
	color:white;
	padding:5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left:-3px;
	text-shadow: 1px 1px 1px gray;
	padding-left:8px;
	padding-right:8px;
	cursor:pointer;
	font-size:16px;
}

.sample-display{
  display: inline-block;
}

#upload-button{
	display:none;
}

#project-title-input{
	display:none;
	border:0px;
	line-height: 30px;
	background-color: rgb(220,220,220);
	opacity: 0.8;
	font-size: 20px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
}

.outer-bar{
	width:100%;
	margin-top:10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
}

.inner-progress-bar{
	height:30px;
	background-color:#6ccc62;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
}

.margin-left-ten{
	margin-left:10px;
}

#do-analysis-button{
	margin-top:20px;
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

#confirm-delete-box {
	width: 500px;
	height: 200px;
	background: #fff;
	padding: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -100px;
	display: none;
	position:absolute;
}

#yes-delete{
	position:absolute;
	bottom: 20px;
	left:20px;
}

#no-cancel{
	position:absolute;
	bottom: 20px;
	right:20px;
}

.sample-box{
	width:100%;
	height:100px;
	background-color: lightgray;
	margin-top:10px;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:10px;
}
.group-box{
	width:100%;
	height:200px;
	background-color: lightgray;
	margin-top:10px;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.rp-div{
	position:relative;
}


.background-name{
	font-size:40px;
	color:rgba(150,150,150,0.7);
	line-height:100px;
	position:absolute;
	right:10px;
}

.file-tag{
  background-color: #6ccc62;
  color:white;
  padding:5px;
  border-radius: 5px;
  margin:5px;
  text-shadow: 1px 1px 1px gray;
	cursor:pointer;
  font-size:16px;
}

#add-new-sample-button{
	cursor:pointer;
	margin-right:10px;
	margin-bottom:20x;
}


#sample-entry-box {
	width: 500px;
	height: 400px;
	background: #fff;
	padding: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -200px;
	display: none;
	position:absolute;
}

#proceed-to-summary-panel{
	display:none;
}

#start-analysis{
	width:400px;
	display:block;
	margin:0 auto;
	height:75px;
	font-size:18px;
}

#pre-analysis-summary-table{
	margin-bottom:20px;
}

#add-sample-dialog-btn, #cancel-sample-dialog-btn{
	margin:10px;
}

.rm-sample{
	font-size:22px;
	position: absolute;
	top: 0px;
	right:10px;
	color:gray;
	cursor:pointer;
	z-index:1000;
}

#go-back{
	font-size:18px;
	color:white;
}

#main-container{
	margin-top:20px;
}

.empty-spacer{
	height:20px;
}

.group-name-input{
	display:none;
}

#start-dge-panel{
	display:none;
}

#existing-samples-wrapper{
	min-height:50px;
}

.bolded{
	font-weight:600;
}

#dropbox-chooser{
	padding:10px;
	font-size:16px;
}


#drive-transfer{
	height:48px;
	background: url(/static/images/product48.png) no-repeat;
	cursor: pointer;
	padding-left:56px;
}

#drive-chooser{
        width: 500px;
        height: 200px;
        background: #fff;
        padding: 25px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -250px;
        margin-top: -100px;
        display: none;
        position:absolute;
}

.file-chooser-header{
	font-size:18px;
}

.select-all{
	margin-left:15px;
}

.select-all-checkbox{
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}
}

.simple-pad{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
}
